@charset "ISO-8859-1";
body{
  background-image: url("/Files/additem.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}
.container{
  background-color: rgba(0, 0, 0, .7);
  margin: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  border-radius: 15px;
  text-align: center;
}
h1{
  color: aliceblue;
}
.slot-container{
  position: relative;
  text-align: center;
  color: aliceblue;
  margin: auto ;
  display: flex;
  padding: 20px;
}
.slot-container table{
  margin: auto;
}
.slot-container th{
  font-size: 24px;
  background-color: white;
  color: black;
}
.slot-container td{
  font-size: 20px;
}
.form-container{
  position: relative;
  display: flex;
  color: aliceblue;
  text-align: center;
  padding: 20px;
  justify-content: center;
}
form {
  margin: auto;
}

.form-container th{
  font-size: 24px;
  color: black;
  background-color: aliceblue;
}
.form-container td{
  font-size: 20px;
}
.button-container {
    display: flex;
    gap: 10px; /* Optional: Adds space between buttons */
    justify-content: center;
    align-items: center;
}

.button-container a {
    text-decoration: none; /* Optional: Removes underline from links */
    align-items: center;
}
.button-container button{
    width: 200px;
    padding: 3%;
    align-items: center;
    border-radius: 20px;
    background-color: red;
    border-color: red;
    font-size: 20px;
    cursor: pointer;
}